<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <title>Gestion de tâches</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="navbar">
    {% if user.is_authenticated %}
      Connecté en tant que {{ user.name }} |
      <form action="{% url 'logout' %}" method="post" style="display: inline;" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="btn-link">Déconnexion</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Connexion</a> |
      <a href="{% url 'register' %}">Créer un compte</a>
    {% endif %}
  </div>
  
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
